DB_FILENAME=servebox.sqlite
DATABASE_URL=
SESSION_SECRET=
ADMIN_DEFAULT_PASSWORD=

PAYMENT_PROVIDER=infinitepay
PAYMENT_APP_BASE_URL=http://localhost:3000
PAYMENT_DEFAULT_CUSTOMER_TAX_ID=
PAYMENT_DEFAULT_CUSTOMER_CELLPHONE=

INFINITEPAY_TAG=
INFINITEPAY_WEBHOOK_SECRET=

SANTANDER_ENV=sandbox
SANTANDER_CLIENT_ID=
SANTANDER_CLIENT_SECRET=
SANTANDER_PIX_KEY=
SANTANDER_CERT_PATH=
SANTANDER_KEY_PATH=
SANTANDER_CERT_PEM_BASE64=
SANTANDER_KEY_PEM_BASE64=
SANTANDER_KEY_PASSPHRASE=
SANTANDER_DEFAULT_PAYER_TAX_ID=
SANTANDER_DEFAULT_PAYER_NAME=
SANTANDER_PIX_EXPIRATION_SECONDS=3600
SANTANDER_API_BASE_URL=https://pix.santander.com.br/api/v1/sandbox
SANTANDER_AUTH_URL=https://pix.santander.com.br/auth/oauth/v2/token

ABACATEPAY_API_KEY=
ABACATEPAY_WEBHOOK_SECRET=
ABACATEPAY_PUBLIC_WEBHOOK_KEY=
ABACATEPAY_DEFAULT_CUSTOMER_CELLPHONE=
ABACATEPAY_DEFAULT_CUSTOMER_TAX_ID=
ABACATEPAY_API_BASE_URL=https://api.abacatepay.com/v2
