DB_FILENAME=serverbox.sqlite
DATABASE_URL=
SESSION_SECRET=
ADMIN_DEFAULT_PASSWORD=
ABACATEPAY_API_KEY=
ABACATEPAY_WEBHOOK_SECRET=
ABACATEPAY_PUBLIC_WEBHOOK_KEY=
ABACATEPAY_DEFAULT_CUSTOMER_CELLPHONE=
ABACATEPAY_DEFAULT_CUSTOMER_TAX_ID=
ABACATEPAY_API_BASE_URL=https://api.abacatepay.com/v2
